
#body {
        margin: 0;
        padding: 0;
        background: linear-gradient(to bottom, '#ffffff', '#add8e6'); /* Change colors as needed */
        transition: background 0.5s ease;
    }
    .content-container {
        padding-bottom: 100px; /* Adjust as needed */
    }

